---
layout: archive
title: "Research Projects"
permalink: /research/
author_profile: true
---

On this page, you will find an overview of my research projects in the field of special and inclusive education. 
Each project link provides access to associated publications, open data, code repositories, and further details about the respective project.

I invite you to explore the projects and resources shared here. If you have any questions, ideas, or are interested in collaborating, please feel free to get in touch!

{% include base_path %}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

