/* Titel enger nach unten */
.page__title {
  margin-bottom: 0.3rem !important;
}

/* Content-Block enger nach oben */
.page__content {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

/* Falls erstes Element H2 ist */
.page__content h2:first-child {
  margin-top: 0 !important;
}

hr {
  border: none;
  height: 4px;   /* Dicke der Striche */

  background-image: repeating-linear-gradient(
    to right,
    #000 0,
    #000 18px,        /* Länge eines Strichs */
    transparent 18px,
    transparent 38px  /* Abstand bis zum nächsten Strich */
  );

  margin: 1rem 0;
}

/* ===== Seitentitel ===== */
.page__title,
.page__content h1 {
  font-family: "Crimson Pro", Georgia, serif;
  color: #8fc9f0;
  font-weight: 300; 
  font-size: 4rem;
  line-height: 1.1;
}

/* Grundtext schwarz statt grau */
body,
.page__content p,
.page__content li {
  color: #000000 !important;
}

/* ===== H2 Label-Stil ===== */
.page__content h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.22em;
  font-weight: 500;

  font-size: 0.7rem;      
  padding: 0.4rem 0.9rem;

  display: inline-block;
  background: #8fc9f0;
  color: #0b0b0b;

  border-radius: 0 999px 999px 0;

   margin-bottom: 0.9rem;
}

/* Links im Content stilisieren */
a {
  font-family: "Crimson Pro", Georgia, serif;
  color: darken(#8fc9f0, 10%);
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: darken(#8fc9f0, 20%);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .page__title,
  h1 {
    font-size: 2.3rem;
  }

  .page__content h2 {
    letter-spacing: 0.18em;
    font-size: 0.85rem;
  }
}
